{{> menu}}

<form class="box"  action="/place/{{county._id}}/updateplace/{{place._id}}" method="POST">
  <label>Update Trail Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="placename", value="{{place.placename}}">
      </div>
      <div class="field">
        <input class="input" type="text" name="description" value="{{place.description}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="latitude" value="{{place.latitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="longitude" value="{{place.longitude}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update place</button>
</form>

